target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
.vscode/
*.class
*.log
*.jar
*.war
*.ear
.DS_Store
Thumbs.db

# Eclipse / STS
.metadata/
.settings/
.classpath
.project
.factorypath
